<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Sumar números</title>
    
</head>
<body>
        <!-- <div class="profile-card">
            
            <form method="POST" id="miForm">
                <label>Primer número:</label>
                <input type="number" name="num1" required autofocus>
                <br>
                <label>Segundo número:</label>
                <input type="number" name="num2" required>
                <br>
                <input type="submit" value="Sumar">
                </form>
                {% if resultado is not none %}
                    <p>El resultado es: {{ resultado }}</p>
                {% endif %}
            <form method="POST" id="miForm">
                <input type="number" name="temp">
                <input type="submit" name="temp_submit" value="Enviar Temperatura">
            </form>
                {% if mensaje %}
                    <p>{{ mensaje }}</p>
                {% endif %}
            <form method="POST" id="miForm">
                <label>Calcula la cantidad de multiplos de 3 entre rangos:</label>
                <input type="number" name="range1">
                <input type="number" name="range2">
                <input type="submit" name="multiplo" value="Calcular">
            </form>
                {% if respuesta %}
                    <p>{{ respuesta }}</p>
                {% endif %}
        
        
        </div> -->
        
        <div class="card">
            <div class="card-back">
                <div class="line-numbers">
                    <div>1</div>
                    <div>2</div>
                    <div>3</div>
                    <div>4</div>
                    <div>5</div>
                    <div>6</div>
                    <div>7</div>
                    <div>8</div>
                    <div>9</div>
                </div>
                <code>
                    <form method="POST" id="miForm">
                        <label>Primer número:</label>
                        <input type="number" name="num1" required autofocus>
                        <br>
                        <label>Segundo número:</label>
                        <input type="number" name="num2" required>
                        <br>
                        <input type="submit" value="Sumar">
                        </form>
                        {% if resultado is not none %}
                            <p>El resultado es: {{ resultado }}</p>
                        {% endif %}
                    <!-- <span class="variable">const</span> 
                    <span class="function">aboutMe</span> 
                    <span class="operator">=</span> 
                    <span>{
                        <span class="indent">
                            <span class="property">name</span>
                            <span class="operator">:</span> 
                            <span class="string">'Joshua Ward'</span>
                            <span>,</span>
                        </span>
                        <span class="indent">
                            <span class="property">title</span>
                            <span class="operator">:</span> 
                            <span class="string">'Sr. UI/UX Developer'</span>
                            <span>,</span>
                        </span>
                        <span class="indent">
                            <span class="property">contact</span>
                            <span class="operator">:</span> 
                            <span>{
                                <span class="indent">
                                    <span class="property">email</span>
                                    <span class="operator">:</span> 
                                    <span class="string">'joshua.ward@me.com'</span>
                                    <span>,</span>
                                </span>
                                <span class="indent">
                                    <span class="property">website</span>
                                    <span class="operator">:</span> 
                                    <span class="string">'joshuaward.me'</span>
                                </span>
                            </span>
                        </span>
                    <span>}</span> -->
                </code>
            </div>
            <div class="card-front">
                <div class="line-numbers">
                    <div>1</div>
                    <div>2</div>
                    <div>3</div>
                    <div>4</div>
                    <div>5</div>
                    <div>6</div>
                    <div>7</div>
                    <div>8</div>
                    <div>9</div>
                </div>
                <code>
                    <span class="variable">this</span>
                    <span>.</span>
                    <span class="method">addEventListener</span>
                    <span>(</span>
                    <span class="string">'mouseover'</span>
                    <span>,</span> 
                    <span class="function">() => 
                    <span>{ 
                        <span class="indent">
                            <span class="variable">this</span>
                            <span>.</span>
                            <span class="property">flipCard</span>
                            <span>=</span>
                            <span class="boolean">true</span>
                            <span>;</span>
                        </span>
                    <span>});</span>
                </code>
            </div>
        </div>
      
</body>
</html>
